<div
id="alert"
  class="
    bg-red-100
    border-red-400
    text-red-700
    border 
    px-4
    py-3
    rounded
    fixed
    top-2
    right-3
    z-50
    hidden
  "
  role="alert"
>
  <span id="alert-text" class="block sm:inline">Something seriously bad happened.</span>
</div>
