
<div class="w-full shadow stats">
    <div class="stat place-items-center place-content-center">
      <div class="stat-title">Visitors</div> 
      <div class="stat-value">321</div> 
      <!-- <div class="stat-desc">Jan 1st - Feb 1st</div> -->
    </div> 
    <div class="stat place-items-center place-content-center">
      <div class="stat-title">Works</div> 
      <div class="stat-value text-success"><%= works.length %> </div> 
      <!-- <div class="stat-desc text-success">↗︎ 400 (22%)</div> -->
    </div> 
    <div class="stat place-items-center place-content-center">
      <div class="stat-title">Blog Posts</div> 
      <div class="stat-value text-error">120</div> 
      <!-- <div class="stat-desc text-error">↘︎ 90 (14%)</div> -->
    </div>
  </div>