<form onsubmit="changePassword(event)" class="form-control flex flex-col w-full py-2 my-2 border-t gap-2">
  <div>
    <label class="label">
      <span class="label-text">Username</span>
    </label>
    <input
      type="text"
      value="<%= user.username %>"
      placeholder="Enter your fullname"
      name="username"
      class="input w-full input-sm rounded"
    />
  </div>
  <div>
    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input
      type="password"
      placeholder="Enter your password"
      name="password"
      class="input w-full input-sm rounded"
    />
  </div>
<div>
  <label class="label">
    <span class="label-text">Confirm Password</span>
  </label>
  <input
    type="password"
    placeholder="Enter your confirm password"
    name="confirm"
    class="input w-full input-sm rounded"
  />
</div>
  <button type="submit" class="btn btn-outline btn-sm">Save</button>
</form>