<form class="w-1/3 p-5 rounded bg-white col-span-4 row-span-1">
    <h1 class="text-center uppercase font-medium">Add Works</h1>
    <div class="w-full gap-2">
        <div>
            <label class="label">
                <span class="label-text">Work Name</span>
              </label>
              <input
                type="text"
                name="name"
                placeholder="Enter work name"
                class="input w-full input-sm rounded"
              />
        </div>
        <div>
            <label class="label">
                <span class="label-text">Upload Work Img</span>
              </label>
              <input
                type="file"
                accept="image/jpg, image/png, image/jpeg"
                name="img"
                class="input w-full input-sm rounded border border-gray-500"
              />
        </div>
      </div>
  <button type="submit" class="btn btn-outline btn-sm w-full mt-5">Upload and Save</button>

</form>