<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@1.14.6/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <title>Shazik</title>
    <style>
      .body-bg {
        background-color: #385C73;
      }
    </style>
  </head>
  <body class="body-bg min-h-screen p-14">
    <%- include("./partials/alert.ejs") -%> 

    <div
      style="box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);"
      class=" body-bg relative rounded-lg p-14 border-white"
    >
      <div class="avatar absolute -top-8 -left-8">
        <div class="mb-8 w-20 h-20 mask mask-squircle">
          <img
            src="http://daisyui.com/tailwind-css-component-profile-1@94w.png"
          />
        </div>
      </div>
      <div class="absolute top-3 right-3">
        <form action="/logout?_method=DELETE" method="post">
          <button class="btn btn-sm btn-error">Logout</button>
        </form>
      </div>
      <div class="flex items-center w-full grid-flow-row grid-cols-12 gap-4 px-10 pt-1 pb-10 overflow-x-scroll overflow-y-hidden xl:px-4 xl:overflow-x-hidden xl:overflow-x-auto xl:grid">
          <%- include("./partials/user.ejs", user) -%> 
          <%- include("./partials/username.ejs", user) -%>

      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js" integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/api.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
