<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Auth</title>
    <meta name="author" content="David Grzyb" />
    <meta name="description" content="" />

    <link
      href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      .body-bg {
        background-color: #385C73;
      }
    </style>
  </head>
  <body class="body-bg h-screen flex items-center justify-center" style="font-family: 'Lato', sans-serif">
    <main
      class="bg-white w-1/3 mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl"
    >
      <div>
        <h3 class="font-bold text-2xl">Welcome to MyPortFolio</h3>
        <p class="text-gray-600 pt-2">Sign in to your account.</p>
      </div>

      <div class="mt-10">
        <form class="flex flex-col" method="POST" action="/login">
          <div class="mb-6 pt-3 rounded bg-gray-200">
            <label
              class="block text-gray-700 text-sm font-bold mb-2 ml-3"
              for="username"
              >Username</label
            >
            <input
            name="username"
              type="text"
              id="username"
              class="
                bg-gray-200
                rounded
                w-full
                text-gray-700
                focus:outline-none
                border-b-4 border-gray-300
                focus:border-purple-600
                transition
                duration-500
                px-3
                pb-3
              "
            />
          </div>
          <div class="mb-6 pt-3 rounded bg-gray-200">
            <label
              class="block text-gray-700 text-sm font-bold mb-2 ml-3"
              for="password"
              >Password</label
            >
            <input
            name="password"
              type="password"
              id="password"
              class="
                bg-gray-200
                rounded
                w-full
                text-gray-700
                focus:outline-none
                border-b-4 border-gray-300
                focus:border-purple-600
                transition
                duration-500
                px-3
                pb-3
              "
            />
          </div>
          <div class="flex justify-end">
            <a
              href="/register"
              class="
                text-sm text-purple-600
                hover:text-purple-700 hover:underline
                mb-6
              "
              >Create New Portfolio!</a
            >
          </div>
          <button
            class="
              bg-purple-600
              hover:bg-purple-700
              text-white
              font-bold
              py-2
              rounded
              shadow-lg
              hover:shadow-xl
              transition
              duration-200
            "
            type="submit"
          >
            Log In
          </button>
        </form>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js" integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/api.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
